@import './variables.scss';

.table-wrapper {
  max-height: $fixed-wrapper-height;
  overflow-y: scroll;

  .table-header-cell {
    position: sticky;
    top: $size-zero;
  }
}

.table {
  table-layout: auto;
  background: $color-white;
  width: $size-100-percentage;

  .table-header {
    .table-header-row {
      .table-header-cell {
        text-align: left;
        white-space: nowrap;
        background-color: $color-half-white;
        padding: $size-base-secondary;
      }

      [fixed] {
        z-index: 2;
      }
    }
  }

  .table-row {
    .table-cell {
      white-space: nowrap;
      background: $color-white;
      padding: $size-base $size-base $size-base $size-base-secondary;
    }

    [fixed] {
      z-index: 1;
    }
  }

  [fixed] {
    position: sticky;  
  }


}

.table, .table-header, .table-header-cell, .table-cell {
  border-bottom: $size-one solid $color-white-secondary;
  border-collapse: collapse;
}