$size-zero: 0;
$size-one: 1px;
$size-base: 8px;
$size-base-secondary: 16px;

$size-100-percentage: 100%;

$font-size-table-header-cell: 16px;
$font-size-table-cell: 16px;

$font-weight-table-header-cell: 600;
$font-weight-table-cell: 400;

$font-color-table-header-cell: black;
$font-color-table-cell: black;

$color-white: #fff;
$color-white-secondary: #dedddd;
$color-half-white: #fafafa;

$fixed-wrapper-height: 300px;